@import "tailwindcss";

@layer utilities {
  .double-flip {
    transform-style: preserve-3d;
  }

  .double-flip:hover {
    animation: double-flip 0.5s linear;
  }
}

@keyframes double-flip {
  0% {
    transform: perspective(800px) rotateY(0deg);
  }
  100% {
    transform: perspective(800px) rotateY(360deg);
  }
}
