@import "tailwindcss";

@theme {
  --breakpoint-smm: 360px;
  --breakpoint-mdm: 414px;
  --breakpoint-lgm: 480px;
  --breakpoint-tab: 768px;
  --breakpoint-lap: 1024px;
  --breakpoint-llap: 1280px;
  --breakpoint-desk: 1440px;
}

@layer utilities {
  .double-flip {
    transform-style: preserve-3d;
  }

  .double-flip:hover {
    animation: double-flip 0.5s linear;
  }
}

@keyframes double-flip {
  0% {
    transform: perspective(800px) rotateY(0deg);
  }
  100% {
    transform: perspective(800px) rotateY(360deg);
  }
}

.input {
  @apply w-full px-4 py-2 border rounded-lg outline-none focus:ring-2 focus:ring-green-700;
}

